<h2>Insert</h2>

<div>
    <label>
        Book Name:
        <input type="text" name="name" ng-model="book.Name" />
    </label>
    <br />

    <label>
        Select Author:
        <select ng-model="book.AuthorId" ng-options="author.Id as author.Name for author in listAuthors">
            <option value="" selected disabled>Select an Author</option>
        </select>
    </label>
    <br />
    <button class="bnt btn-primary" ng-disabled="book.AuthorId == null" ng-click="createBook(book)">Insert</button>
</div>