<h2>Insert</h2>

<div>
    <label for="book-name">
        Book Name:
    </label>
    <input id="book-name" class="form-control" type="text" name="name" ng-model="book.Name" />

    <label for="author-id">
        Select Author:
    </label>

    <select id="author-id" class="form-control" ng-model="book.AuthorId" ng-options="author.Id as author.Name for author in listAuthors">
        <option value="" selected disabled>Select an Author</option>
    </select>

    <button class="btn btn-primary margin-top" ng-disabled="book.AuthorId == null" ng-click="createBook(book)">Insert</button>
</div>